*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080808;
    /* background: rebeccapurple; */
    color: #fff;
    background-size: cover;
   
}
#header{
    width: 100%;
    /* height: 100vh; */  
    background-position: center;
    /* background-image: url(images/d2.jpg); */
   visibility: inherit;
}
/* .header-text{
    text-align: center;
} */
.container{
    padding: 10px 10%;
    
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
nav h1 span{
    color: #ff004f;
   
    font-size: 35px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 15%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}

.home-col-1{
    flex-basis: 30%;
}
.home-col-1 img{
    width: 100%;
    border-radius: 15px;
    transform: translate(-11px,-24px)
    /* background: #262626; */
}
.home-col-2{
    flex-basis: 60%;
    /* float: right; */
    /* text-align: right; */
}
.home-col-2 h2{
    font-size: 42px;
}
.home-col-2 p{
    font-size: 85%;
}


/* .....................About Section....................... */


#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}
.about-col-1{
    flex-basis: 30%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
    /* background: #262626; */
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
div h1 span{
    color: #ca2323;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
   content: '';
   width: 0;
   height: 3px;
   background: #ff004f; 
   position: absolute;
   left: 0;
   bottom: -8;
   transition: 0.5s;
}
.tab-links.active-link::after{
    width: 60%;
    text-decoration: underline;
}
.tab-contents ul li{
list-style: none;
margin: 10px 0;
}
.tab-contents ul li span{
    color: #b5093f8f;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
display: block;

}

/* ........................proejcts....................... */

#projects{
    padding: 30px 0;

}
.projects-list{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.projects-list div{
    background: #262626;
    padding: 40px;
    font: size 13px; ;
    font-weight: 300;
    border-radius:10px ;
    transition: bacground 0.5s,transform 0.5s;
}
.projects-list div i{
    font-size: 60px;
 
    margin: 0 35% 30px 35%;
}
.projects-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.projects-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 11px;
    margin-top: 20px;
    display: inline-block;
}
.projects-list div:hover{
    background:#ff0051bb;
    transform: translateX(-10px);
}

.projects-list button{
    background:#ca2323;
    
    text-align: center;
    border: none;
    padding: 0px 10px 10px 10px;
    margin-top: 10px;
    border-radius: 8px;
}
.projects-list button:hover{
    background:#080808;
    transform: translateY(-8px);
}
/* ...........................contact............................. */

.contact-left{
    flex-basis: 30%;
    text-align: center;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 15px;
}

.btn.btn2{
    text-decoration: none;
    display:inline-block ;
    background: #ff004f;
    color: #fff;
    border-radius: 4px;
    margin-top: 20px;
    padding: 8px 15px;
    border: none;
    font-size: 15px;
}
.btn.btn2:hover{
    /* transform: translateY(-10px); */
    background: #262626;
    color: #fff;
}
.contact-right{
    flex-basis: 60%;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    color: #ababab;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.contact-right form{
    width: 100%;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 16px;
    border-radius: 7px;
}
form btn2{
    /* padding: 12px;
    font-size: 18px;
    margin-top: 15px; */
    cursor: pointer;
    
}
.copyright{
    text-align: center;
    width: 100%;
    padding:25px 0 ;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
    border-radius: 7px;
    /* flex-basis: 75%; */
}

.back-to-top{
    color: #080808;
    font-size: 15px;
    /* float: right;
    display: flexbox; */
   

    position: fixed;
    top: 45%; /* Distance from the top of the window */
    left: 20px; 
    background-color: #ff004f;
    border-radius: 25%;
    padding: 5px;
    border: 1px solid black;
}
.back-to-top:hover{
    color: white;
    font-size: 20px;
}
.top-to-bottom{
    color: #080808;
    font-size: 15px;
    /* float: right;
    display: flexbox; */
    position: fixed;
    /* top: 50%; Distance from the top of the window */
    bottom: 45%;
    left: 20px; 
    background-color: #ff004f;
    border-radius: 25%;
    padding: 5px;
    border: 1px solid black;
}
.top-to-bottom:hover{
    background: white;
    font-size: 20px;
}


/* ................................resposivenes.............. */

nav .fa-solid{
    display: none;
}

@media only screen and (max-width:600px){
    /* #header{ */
        /* background-image: url("images/phone-background.png"); */
/* background-image: url("images/ReenuBG.png"); */
        /* height: 100%; */

    /* } */
    .about-col-1{
        display: none;
    }
    .header-text{
        /* margin-top: 100%; */
        font-size: 10px;
        text-align: center;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fa-solid{
        display: block;
        font-size: 26px;
    }
    nav ul{
        background: #ff004f;
        position: fixed;
        top: 0;
        right: -200px; ;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 1;
        transition:  right 0.4s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }

    .home-col-1, .home-col-2{
        flex-basis: 100%;
    }
    .home-col-1{
        margin-bottom: 0;
        /* margin-top: 10px; */
        transform: translate(1em,6em);
    }
    .home-col-1 h1,h2,p{
        font-size: large;
    }
    /* .home-col-1 img{
        display: none;
    } */
    .home-col-2{
        font-size: 14px;
    }

    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 15px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
    .back-to-top{
        color: #080808;
        font-size: 8px;
        position: fixed;
        top: 46%; /* Distance from the top of the window */
        left: 10px; 
        background-color: #ff004f;
        border-radius: 25%;
        padding: 5px;
        border: 1px solid black;
    }

    .back-to-top:hover{
        color: white;
        font-size: 12px;
    }
    .top-to-bottom{
        color: #080808;
        font-size: 8px;
        position: fixed;
        /* top: 50%; Distance from the top of the window */
        bottom: 48%;
        left: 10px; 
        background-color: #ff004f;
        border-radius: 25%;
        padding: 5px;
        border: 1px solid black;
    }
    .top-to-bottom:hover{
        background: white;
        font-size: 12px;
    }
    
    
}

